# 1.  Add a list of elements to a given set

In [26]:
ls=[1,2,3,4]
sets=set({10,20,50})
for i in ls:
    sets.add(i)
print(sets)

{1, 2, 3, 4, 10, 50, 20}

In [27]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Orange', 'Yellow', 'Green', 'Black', 'Red', 'Blue'}

# 2. Return a set of identical items from a given two Python SETS

In [11]:
set1={1,2,3,4,5}
set2={3,4,5,6,7,8,9}
set3=set()
for i in set1.intersection(set2):
    set3.add(i)
print(set3)

{3, 4, 5}

In [28]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

# 3.Returns a new set with all items from both sets by removing duplicates

In [29]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

# 4.Given two Python sets, update first set with items that exist only in the first set and not in the second set.

In [33]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
for i in set2:
    if i in set1:
        set1.remove(i)
print(set1)

{'MERC', 'AUDI', 'BMW', 'HYUNDIA', 'TATA MOTOTRS'}

In [31]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [23]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
for i in set2:
    if i in set1:
        set1.discard(i)
print(set1)

{'MERC', 'AUDI', 'BMW', 'HYUNDIA', 'TATA MOTOTRS'}

# 5.Remove 10, 20, 30 elements from a following set at once

In [24]:
set1=set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS",10,20,30,40,50}
set2={10, 20, 30}
result=set1-set2
print(result)

{'MERC', 'AUDI', 40, 'HYUNDIA', 'MARUTI', 'KIA', 50, 'BMW', 'TATA MOTOTRS'}

In [34]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

# 6.Return a set of all elements in either A or B, but not both

In [35]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}

print(set1.symmetric_difference(set2))

{'MERC', 'AUDI', 'HYUNDIA', 'BMW', 'TATA MOTOTRS'}

# 7.Determines whether or not the following two sets have any elements in common. If yes display the common elements

In [36]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{'MARUTI', 'KIA'}

# 8. Update set1 by adding items from set2, except common items

In [37]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
set1.symmetric_difference_update(set2)
print(set1)

{'MERC', 'AUDI', 'BMW', 'HYUNDIA', 'TATA MOTOTRS'}

# 9. Remove items from set1 that are not common to both set1 and set2

In [38]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
set1.intersection_update(set2)
print(set1)

{'MARUTI', 'KIA'}

# 10.Write a Python program to check if a given set is superset of itself and superset of another given set

In [42]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
print("Original set: ",set1)
print("If set1 is superset of itself?")
print(set1.issuperset(set1))
set2={"KIA","MARUTI"}

print(set1.issuperset(set2))

Original set:  {'MERC', 'AUDI', 'BMW', 'MARUTI', 'HYUNDIA', 'TATA MOTOTRS', 'KIA'}
If set1 is superset of itself?
True
True

# 11.Write a Python program to check a given set has no elements in common with other given set

In [48]:
set1={"BMW","AUDI","MERC","HYUNDIA","TATA MOTOTRS","MARUTI"}
set2={"KIA","MARUTI"}
set3={"Ferrari"}
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

False
True

# 12.Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [50]:
set1={"BMW","AUDI","MERC","MARUTI","HYUNDIA","KIA","TATA MOTOTRS"}
set2={"KIA","MARUTI"}
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
set1.difference_update(set2)
print(set1)

Remove the intersection of a 2nd set from the 1st set using difference_update():
{'MERC', 'AUDI', 'BMW', 'HYUNDIA', 'TATA MOTOTRS'}

# 13. Perform all sets methods by taking an example of your own.

In [51]:
#Check File Named ->  Data Types Function -2 
#In same folder