1.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
def check_num(num):
    if num %7==0 and num%5!=0:
        print(num,end=",")
for i in range(2000,3200):
    check_num(i)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

2.Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [5]:
def factorial(num):
    fact=1
    for i in range(num,0,-1):
        fact*=i
    return fact
print(factorial(int(input("Enter the number to find the Factorial"))))

Enter the number to find the Factorial 8
40320

3.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [8]:
dict1={}
for i in range(1,int(input("Enter the number"))+1):
    dict1[i]=i*i
print(dict1)

Enter the number 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [10]:
ip=list(map(int,input("Enter the number").split(",")))
print(ip)
print(tuple(ip))

Enter the number10,21,54,87,98,65,987,98,4,98,65,98,65,98
[10, 21, 54, 87, 98, 65, 987, 98, 4, 98, 65, 98, 65, 98]
(10, 21, 54, 87, 98, 65, 987, 98, 4, 98, 65, 98, 65, 98)

5.Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [12]:
def getString():
    return input("Enter the string ")
def printString():
    print("The string you entered is ",getString())
printString()

Enter the string Hi my name is SHUBHAM
The string you entered is  Hi my name is SHUBHAM

6.Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [17]:
def formula(D,C=50,H=30):
    return int(((2 * C * D)/H)**0.5)
ls=list(map(int,input("Enter the value of D ").split(",")))
for i in ls:
    print(formula(i),end=",")

Enter the value of D 100,150,180
18,22,24,

7.Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [21]:
x,y=map(int,input("ENter 2 numbers").split(","))
ls=[]
for i in range(0,x):
    ls1=[]
    for j in range(0,y):
        ls1.append(i*j)
    ls.append(ls1)
print(ls)

ENter 2 numbers3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

8.Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [24]:
print(sorted(list(map(str,input("Enter the comma seperated words").split(",")))))

Enter the comma seperated wordsHello, world, without , bag , how , are , you ,?
[' are ', ' bag ', ' how ', ' without ', ' world', ' you ', '?', 'Hello']

9.Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [30]:
ln=int(input("Enter the number of lines"))
ls=[]
for i in range(0,ln):
    ls.append(" ".join(map(str,input().split())).upper())
for i in ls:
    print(i)

Enter the number of lines2
Hello world
Practice makes perfect
HELLO WORLD
PRACTICE MAKES PERFECT

10.Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [33]:
print(*sorted(set(map(str,input("Enter the  words").split()))))

Enter the  words hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

11.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [34]:
ls=list(map(int,input("Enter the comma seperated binary digit").split(",")))
for i in ls:
    if i %5==0:
        print(i,end=" ")

Enter the comma seperated binary digit0100,0011,1010,1001
100 1010

12.Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [44]:
def eachEvenNumber(num):
    counter=0
    for i in list(str(num)):
        if int(i) %2==0:
            counter+=1
    if counter==4:
        print( num,end=",")
    else:
        pass
for i in range(1000,3001):
    eachEvenNumber(i)

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

13.Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [54]:
def counts(string):
    letter_counter=0
    digit_counter=0
    for i in string:
        if (ord(i) >= 65 and ord(i) < 91) or (ord(i)>=97 and ord(i)<123):
            letter_counter+=1
        elif(ord(i)>= 48 and ord(i) <= 57):
            digit_counter+=1
    print("LETTERS {} \nDIGITS {}".format(letter_counter,digit_counter))
counts(input("Enter the String"))

Enter the String hello world! 123
LETTERS 10
DIGITS 3

14.Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [56]:
def counts1(string):
    up_count=0
    low_count=0
    for i in string:
        if i.isupper():
            up_count+=1
        elif i.islower():
            low_count+=1
    print("UPPER CASE {} \nLOWER CASE {}".format(up_count,low_count))
counts1(input("Enter the String"))

Enter the String Hello world!
UPPER CASE 1
LOWER CASE 9

15.Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [62]:
num=input("Enter the number").strip()
ls=[]
for i in range(1,5):
    ls.append(num*i)
sums=0
for i in ls:
    sums+=int(i)
print(sums)

Enter the number 9
11106